@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');



:root {
    --textColor: white;
    --font: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

html {
    /*FONT:*/
    font-family: var(--font);
    color: var(--textColor);
    font-size: 18px;
    font-weight: 400;

    /*BACKGROUND:*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (orientation: portrait) {
    .container {
        width: unset !important;
        max-width: 100%;
        /* Adjust the maximum width for smaller screens */
        margin: 10px auto;
        /* Adjust margin for smaller screens */
        padding: 10px;
        /* Add padding for smaller screens */
    }

    main {
        width: auto;
        max-width: 100%;
        /* Adjust the maximum width for smaller screens */
        margin: 10px auto;
        /* Adjust margin for smaller screens */
        padding: 10px;
        /* Add padding for smaller screens */
    }
}

.container {
    margin: 10px auto;
    /*auto - center the linktree*/
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.13);
    width: 30%;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.178);
    border-radius: 10px;
}

img {
    width: 230px;
    height: 230px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    /*round image*/
}

#userName {
    font-weight: 700;
    /*bold*/
}

#description {
    margin: 20px auto;
}

main {
    width: auto;
    max-width: 500px;
    margin: 15px auto;
}

/* Links styles */
a {
    color: var(--textColor);
    text-decoration: none;
    border: 2px solid var(--hoverColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    transition: background-color .5s;
    background-color: #4545459c;
}

a i {
    margin-right: 10px;
    /* Adjust as needed for spacing between icon and text */
    margin-left: 10px;
    /* Align the icon to the left */
}

a span {
    text-align: center;
    /* Center the text */
    flex-grow: 1;
    /* Allow the text to take up remaining space */
    font-weight: bold;
}

/* Hover effect */
a:hover {
    background-color: var(--hoverColor, #ddd) !important;
    /* Default to a light gray if hoverColor is not specified */
}

a:hover>span,
a:hover>i {
    color: var(--hoverTextColor, #000000) !important;
    /* Default to a light gray if hoverColor is not specified */
}


#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    /* Set your background color */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}

#loading-screen.hide {
    opacity: 0;
    pointer-events: none;
}

#loading-icon {
    /* You can use an animated loading icon here */
    border: 8px solid #333;
    /* Set your loading icon color */
    border-top: 8px solid #fff;
    /* Set your loading icon color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#toggleButton {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.178);
    border-radius: 4px;
    color: white;
}
